* {
    box-sizing: border-box;
}

body {
    font-family: Roboto, Arial, Helvetica, sans-serif;
    background-color: #333333;
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 5px;
}

.container {
    display: flex;
    flex-direction: column;
    border: 4px solid #6E8898;
    border-radius: 8px;
    background-color: #E3DFFF;
}

.title {
    font-size: 45px;
    color: #c5edac;
    font-family: 'Playwrite NG Modern', Roboto, Arial;
    font-weight: bold;
}

.description {
    font-size: larger;
    color: white;
    padding: 10px 0px;
}

.askBoxNum {
    display: flex;
    justify-content: center;
    gap: 20px;
    flex-direction: row;
}

.askBoxNum input {
    width: 195px;
    padding: 5px;
    border: 0px;
    border-radius: 4px;
    align-content: right;
}

.askBoxNum button {
    width: 80px;
    background-color: #A0E8AF;
    border: 0px;
    border-radius: 4px;
}

/* add button pseudo class, for reaction after clicking */
button:active {
    background-color: rgb(17, 153, 76);
}

.comment {
    color: white;
    margin: 0px;
    padding: 0px;
}